#bootstrap-overrides #footer-container .navBorderBottom {
    max-width: 100%;
}

/* Added the footer-container id and fixed my issue of footer going to max width, trying .container did not work */

#bootstrap-overrides .navbar {
    padding: 0;
}

#allieNav {
    width: 100%;
    margin: auto;
    background: white;
    /* padding-bottom: 0; */
    padding: 0;
}

.allie {
    background: #4aaaa5;
    padding: 20px;
}

/* Still can't get my nav bar items aligned with the rest of my page properly...having trouble! */

.allie h1 {
    color: white;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
}

#bootstrap-overrides .navbar-brand {
    background-color: #4aaaa5;
    color: white;
    font-size: 28px;
}

.navBorderBottom {
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: #666666;
}

#bootstrap-overrides h2 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 5px;
}

#bootstrap-overrides h4 {
    color: white;
    text-align: center;
    font-weight: 400;
    padding-top: 5px;
}

#bootstrap-overrides .card {
    background-color: #4aaaa5;
}

/* #bootstrap-overrides #card {
    height: 100%;
} */

/* trying to fix the heights of all the images...will get back to later... */

#alliePic {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}

#bootstrap-overrides #main-content {
    background-image: url('images/upfeathers.png');
    margin: 0;
    max-width: 100%;
    padding-top: 20px;
}

#bootstrap-overrides hr {
    height: 1px;
    background: #979797;
    margin-left: 5px;
    margin-right: 5px;
}

#MC-left-margin {
    display: block;
}

#bootstrap-overrides #white-box {
    background-color: white;
    max-width: 80%;
    margin: 0;
}

#bootstrap-overrides p {
    padding: 10px;
}

#bootstrap-overrides a {
    color: white;
}

#bootstrap-overrides .card-columns {
    margin-left: 5px;
    margin-right: 10px;
}

#bootstrap-overrides #form {
    max-width: 100%
}

#bootstrap-overrides .btn {
    background-color: #4aaaa5;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

#bootstrap-overrides #bottom-space {
    padding-top: 200px;
}

#bootstrap-overrides #footer-container {
    max-width: 100%;
}

.teal-foot {
    background-color: #4aaaa5;
    height: 5px;
}

.grey-foot {
    background-color: #666666;
    height: 40px;
    color: white;
    text-align: center;
}